*{
  box-sizing: border-box;
}
html,body{
  margin:0;
  padding:0;
  font-family: Arial, sans-serif; 
  background: #f4f4f4;
  overflow: hidden;
}

.outer-login {
  height: 100vh;
  width:100vw;
 display: flex;
  justify-content: center;
  align-items: center;

  
}
.login-card {
  width : 350px;
  padding: 30px 20px;
  background: #58bae1;
  border-radius: 12px;
  border : 2px solid  #082b35;
  text-align: center;
  color: rgb(26, 25, 25);

}
.user-icon {
  font-size: 50px;
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  color: rgb(20, 20, 20);
}
.login-form input[type = "text"], 
.login-form input[type = "password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  color: rgb(34, 32, 32);
  font-size: 15px;
}

.login-form input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}


.login-btn {
  width: 100%;
  padding: 10px;
  background: #082b35;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}


.login-btn:hover {
  background: #065166;
}


.pm-dashboard{
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pm-dashboard p{
  font-size: 18px;
  margin-bottom: 20px;  
  color : #0d3d4b;
}
.pm-dashboard p{
  font-size: 18px;
  margin-bottom: 20px;  
  color : #0d3d4b;
}

.task-form{
  background:#e5f4fc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 300px;
}
.task-form h3{
  margin-top: 0;
  color : #0d3d4b;
  text-align: center;
}
.task-form input, .task-form select, .task-form textarea{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #0d3d4b;
}

.task-form textarea{
  resize: none;
  height: 60px;
}

.task-form button,.task-btn{
  width: 100%;
  padding: 10px;
  background: #082b35;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}
.task-btn:hover, .task-form button:hover {
  background: #065166;
}
.task-list{
  width: 80%;
  max-width: 800px;
  list-style: none;
  border : 2px solid  #082b35;
  padding: 0;
  border-radius: 8px;
}

.task-item{
  background: #e5f4fc;
  margin-bottom: 10px;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-left{
  max-width: 70%;
}
.task-left strong{
  font-size: 18px;
  color : #0d3d4b;    

}

.task-desc{
  margin: 5px 0;
  color : #0d3d4b;
}
.task-meta{
  font-size: 12px;
  color: #555;
}
.task-right{
  display: flex;
  gap: 10px;
  align-items: center;
}

.task-right select{
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;

} 


.edit-btn ,delete-btn{
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 14px;    

}
.edit-btn{
  background: #72d576;
  color: #f4f4f4;

}
.delete-btn{
  background: #e04b4b;
  color: #f4f4f4; 
} 
.delete-btn:hover{
  background: #b73838;
}


.modal-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  background: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}
.modal h3{
  margin-top: 0;
  color : #0d3d4b;
  text-align: center;

}
.modal input, .modal textarea , .modal select{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #0d3d4b;
}
.modal textarea{
  resize: none;
  height: 60px;
}
.save-btn, .cancel-btn{
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}
.save-btn:hover{
  background: #065166;
}
.cancel-btn:hover{
  background: #b73838;
}
  


.user-dashboard{
  text-align: center;
  padding: 20px;
  color : #0d3d4b;
}
.user-tasklist{
  width: 80%;
  list-style: none;
  border : 2px solid  #082b35;
  padding: 20px;
  border-radius: 8px;
  display: flex;;
  align-items: center;
  justify-content: center;
}
.user-dashboard h2{ 
  margin-bottom: 20px;
  color :#0d3d4b;
  font-size: 25px;
}
.user-dashboard p{
  font-size: 18px;
  margin-bottom: 20px;  
  color : #0d3d4b;
} 

.user-dashboard .task-item{
  background: #e5f4fc;
  margin-bottom: 10px;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.user-dashboard .task-right select{
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;

}
.user-dashboard .edit-btn .user-dashboard .delete-btn{
  display: none;
}